<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Sign Up</h3>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              #userEmail
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              #userPwd
              required
            />
          </div>

          <!-- Calling SignUp Function from Component -->
          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="authService.SignUp(userEmail.value, userPwd.value)">
              Sign Up
            </button>
          </div>

          <div class="form-group text-center">
            <span class="or">Or</span>
          </div>

          <div class="form-group">
            <p class="text-center">
              Already have an account? <a class="btn btn-link" routerLink="/login" >Log In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
